<div class="row vertical-offset-100" ng-controller="LoginCtrl">
	<div class="col-md-4 col-md-offset-4" id="login">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title text-center">ChileMaq Login</h3>
		 	</div>
		  	<div class="panel-body">
		    	<form accept-charset="UTF-8" role="form" ng-submit="verificar(inputRut,inputPass)">
	          		<fieldset>
			    		<div class="form-group">
			    		    <input ng-model="inputRut" class="form-control" placeholder="Rut" name="rut" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input ng-model="inputPass" class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
				    	<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
		      </form>
		    </div>
		</div>
	</div>
</div>