<div class="col-sm-9 col-sm-offste-3 col-md-10 col-sm-offset-2 main" ng-controller="dispCtrl">
	<div class="row">

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Busqueda Maquinaria</h3>
				</div>
				<div class="panel-body">
					<form action="" class="form-horizontal">
						<div class="form-group">
						    <label for="" class="col-sm-4 control-label">Categoria</label>
						    <div class="col-sm-8">
								<select class="form-control input-sm" ng-model="idCategoria" >
							     	<option  ng-repeat="categoria in Categorias" value=" {{categoria._id}}" ng-selected="idActual(idCategoria)">{{categoria.categoria}}</option>
								</select>						    
							</div>
						</div>

						<div class="form-group">
						    <label for="" class="col-sm-4 control-label text-center">Tipo</label>
						    <div class="col-sm-8">
						        <select class="form-control input-sm" >
								    <option>---Select---</option>
								</select>	
						    </div>
						</div>

						<div class="form-group">
						    <label for="" class="col-sm-4 control-label">Marca</label>
						    <div class="col-sm-8">
						      	<select class="form-control input-sm" >
								    <option>---Select---</option>
								</select>
						    </div>
						</div>
						<div class="form-group">
						    <label for="" class="col-sm-4 control-label">Modelo</label>
						    <div class="col-sm-8">
						      	<select class="form-control input-sm" >
								    <option>---Select---</option>
								</select>
						    </div>
						</div>
						<div class="form-group">
						    <div class="col-sm-8 col-sm-offset-4">
						      	<input type="submit" class="btn btn-success" value ="Buscar">
						    </div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Busqueda Maquinaria</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="success"> 
								<th>Código</th>
								<th>Maquinaria</th>
								<th>Cantidad</th>
								<th>Disponible</th>
								<th>Detalle</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Algo</td>
								<td>lorem</td>
								<td>Algo</td>
								<td>Algo</td>
								<td><a href="#">Ver</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</div>